{% extends 'base.html' %}

{% block title_head %}
<title>Busqueda</title>
{% endblock title_head %}

{% block h1_header %}
Busqueda de Libros
{% endblock h1_header %}

{% block contenido %}

<button>
    <a class="navbar-brad" href={% url 'inicio:crear_libro' %}>Crear libro</a>
</button>

<form action="" method="get">
    {{ formulario }}
    <button type="submit">Buscar</button>
</form>

{% for libro in libros %}
<li>Titulo: {{libro.titulo}} - Autor: {{libro.autor}} - Editorial: {{libro.editorial}}</li>

{% empty %}
<li>No se encontraron libros con ese nombre.</li>
{% endfor %}

{% endblock contenido %}